@page "/client/leagues"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<h1 class="text-center">Client Leagues</h1>
<div class="text-center my-auto lead">
    Coming soon...
</div>
@code {
}
