@page "/client/tournaments"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<h1 class="text-center">Client Tournaments</h1>
<div class="text-center my-auto lead">
    Coming soon...
</div>
@code {
}
