@layout HostWagerLayout
@page "/host/wagers/confirmed"

@if (Data != null)
{
    <div class="row mt-1">
        @foreach (Wager wager in Data.Where(x => x.Status == (byte)Status.Confirmed))
        {
            <div class="col-12">
                <WagerDisplay Wager="wager" Link="@($"/host/wagers/view/{wager.Id}")" />
            </div>
        }
    </div>
}
@code {
    [CascadingParameter]
    public IEnumerable<Wager> Data { get; set; }
}
