@layout HostWagerLayout
@page "/host/wagers/confirmed"

@if (Wagers != null)
{
    if (Wagers.Count() == 0)
    {
        <p class="text-center my-2 lead">
            There's currently no @Enum.GetName(typeof(Status), Status.Confirmed) wagers.
        </p>
    }
    else
    {
        <div class="row">
            @foreach (Wager wager in Wagers)
            {
                <div class="col-12 my-2">
                    <WagerDisplay Wager="wager" Link="@($"/host/wagers/view/{wager.Id}")" />
                </div>
            }
        </div>
    }
}
@code {
    [CascadingParameter]
    public IEnumerable<Wager> Data { get; set; }
    private IEnumerable<Wager> Wagers { get; set; }

    protected override void OnInitialized()
    {
        Wagers = Data.Where(x => x.Status == (byte)Status.Confirmed);
        base.OnInitialized();
    }
}
