@page "/host/wagers/view/{id:int}"
@attribute [Authorize]
@inject AuthHttp http
@inject ISessionStorageService sessionStorage
@implements IDisposable

<ErrorDisplay @bind-Errors="Errors" />
@if (Wager == null)
{
    <p class="lead">Loading...</p>
}
else
{
    <div class="row">
        <div class="col-12 col-md-3 ml-auto">
            <p class="lead">Status <span class="badge badge-pill badge-secondary">@Enum.GetName(typeof(Status), Wager.Status)</span></p>
        </div>
        <div class="col-12 col-md-5 mr-auto my-1 text-right">
            @if (Wager.Status == Status.Open)
            {
                <button class="btn btn-outline-danger" @onclick="() => ChangeStatus(Status.Closed)">Close</button>
            }
            else if (Wager.Status == Status.Closed)
            {
                <button class="btn btn-outline-danger" @onclick="() => ChangeStatus(Status.Canceled)">
                    Cancel
                </button>
                <button class="btn btn-outline-success" @onclick="() => ChangeStatus(Status.Open)">Open</button>
            }
            else if (Wager.Status == Status.Canceled)
            {
                if (IsDeleted)
                {
                    <div class="alert alert-warning" role="alert">This wager has been deleted.</div>
                }
                else
                {
                    <button class="btn btn-outline-danger" @onclick="Delete">Delete</button>
                }
            }
        </div>
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Wager:</h3>
            <WagerDisplay Wager="Wager" />
        </div>
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Hosts:</h3>
            <WagerMembersDisplay Members="Wager.Members">
                @if (Host != null && !Host.IsApproved.HasValue)
                {
                    <button class="btn btn-danger" title="Decline the wager." @onclick="() => HandleWager(false)">Decline</button>
                    <button class="btn btn-success" title="Accept the wager." @onclick="() => HandleWager(true)">Accept</button>
                }
            </WagerMembersDisplay>
        </div>
        @if (Wager.Status != (byte)Status.Pending)
        {
            <div class="col-12 col-lg-8 mx-auto my-1">
                <h3>Challenges:</h3>
                @if (Wager.ChallengeCount == 0)
                {
                    <p class="text-center lead">There are currently no challenges.</p>
                }
                else
                {
                    <div class="row">
                        @foreach (WagerChallenge challenge in Wager.Challenges)
                        {
                            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                                <WagerChallengeDisplay Challenge="challenge">
                                    @if(challenge.IsAccepted == null)
                                    {
                                        <button class="btn btn-danger" title="Decline the challenge." @onclick="() => HandleChallenge(false)">Decline</button>
                                        <button class="btn btn-success" title="Accept the challenge." @onclick="() => HandleChallenge(true)">Accept</button>
                                    }
                                </WagerChallengeDisplay>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    private HubConnection HubConnection { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationState { get; set; }
    private WagerHost Host { get; set; }
    private Wager Wager { get; set; }
    private bool IsDeleted { get; set; }
    private IEnumerable<string> Errors { get; set; } = new List<string>();

    protected override async Task OnParametersSetAsync()
    {
        sessionStorage.Changed += SessionStorageChanged;
        var response = await http.Client.GetAsync($"/api/host/wager/{Id}");
        AuthenticationState context = await AuthenticationState;
        if (response.IsSuccessStatusCode)
        {
            Wager = await response.Content.ReadFromJsonAsync<Wager>();
            Host = Wager.Hosts.FirstOrDefault(x => x.ProfileId == context.User.GetId());
            await HubConnection.InvokeAsync("AddToGroup", Wager.Group(Wager.Id));
        }
        else
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
        await base.OnParametersSetAsync();
    }

    async void IDisposable.Dispose()
    {
        if (Wager != null)
            await HubConnection.InvokeAsync("RemoveFromGroup", Wager.Group(Wager.Id));
    }

    private async Task ChangeStatus(Status status)
    {
        var response = await http.Client.PutAsJsonAsync($"/api/wager/status/{Wager.Id}", (byte)status);
        if (response.IsSuccessStatusCode)
        {
            Wager.Status = status;
            await HubConnection.SendAsync("SendWagerStatus", Wager.Group(Wager.Id), new IdStatus { Status = Wager.Status, Id = Wager.Id });
            StateHasChanged();
        }
        else
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
    }

    private void SessionStorageChanged(object sender, Blazored.SessionStorage.ChangedEventArgs e)
    {
        if (e.Key == "WagerStatus")
        {
            var data = (IdStatus)e.NewValue;
            if (Wager.Id == data.Id)
            {
                Wager.Status = data.Status;
                StateHasChanged();
            }
        }
        else if (e.Key == "WagerMember")
        {
            var data = (WagerMember)e.NewValue;
            if (Wager.Id == data.WagerId)
            {
                var index = Wager.Members.FindIndex(x => x.Id == data.Id);
                if (index > -1)
                {
                    Wager.Members[index] = data;
                    StateHasChanged();
                }
            }
        }
    }

    private async Task Delete()
    {
        IsDeleted = true;
        var response = await http.Client.DeleteAsync($"/api/wager/{Id}");
        if (!response.IsSuccessStatusCode)
            IsDeleted = false;
    }

    private async Task HandleWager(bool answer)
    {
        //return date response too
        var response = await http.Client.PutAsJsonAsync<bool>($"/api/bid/wager/{Host.Id}", answer);
        if (response.IsSuccessStatusCode)
        {
            Wager.Status = await response.Content.ReadFromJsonAsync<Status>();
            Host.IsApproved = answer;
            await HubConnection.InvokeAsync("SendWagerStatus", Wager.Group(Wager.Id), Host, new IdStatus { Status = Wager.Status, Id = Host.WagerId });
        }
    }

    private async Task HandleChallenge(bool answer)
    {
        var response = await http.Client.PutAsJsonAsync<bool>($"/api/bid/wager_challenge/{Host.Id}", answer);
        if (response.IsSuccessStatusCode)
        {
        }
    }
}
