@page "/host/wagers/view/{id:int}"
@attribute [Authorize]
@inject AuthHttp http
@inject ISessionStorageService sessionStorage
@implements IDisposable

<ErrorDisplay @bind-Errors="Errors" />
@if (Wager == null)
{
    <p class="lead">Loading...</p>
}
else
{
    <h1 class="text-center">@Enum.GetName(typeof(Status), Wager.Status) Wager</h1>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto my-1 text-right">
            @if (Wager.Status == Status.Open)
            {
                <button class="btn btn-outline-danger" @onclick="() => ChangeStatus(Status.Closed)">Close</button>
            }
            else if (Wager.Status == Status.Closed)
            {
                <div class="btn-group">
                    <button class="btn btn-outline-danger" @onclick="() => ChangeStatus(Status.Canceled)">
                        Cancel
                    </button>
                    <button class="btn btn-outline-success" @onclick="() => ChangeStatus(Status.Open)">Open</button>
                </div>
            }
            else if (Wager.Status == Status.Canceled)
            {
                if (IsDeleted)
                {
                    <div class="alert alert-warning" role="alert">This wager has been deleted.</div>
                }
                else
                {
                    <button class="btn btn-outline-danger" @onclick="Delete">Delete</button>
                }
            }
        </div>
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Wager:</h3>
            <WagerDisplay Wager="Wager" />
        </div>
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Hosts:</h3>
            <AuthorizeView>
                <Authorized>
                    <WagerMembersDisplay Members="Wager.Members">
                        @{
                            WagerMember host = Wager.Members.FirstOrDefault(x => x.ProfileId == context.User.GetId());
                        }
                        <div class="text-right">
                            <button class="btn btn-secondary" title="Purchase an entry." data-toggle="modal" data-target="#entryModal">Buy Entry</button>
                            @if (host != null && !host.IsApproved.HasValue)
                            {
                                <button class="btn btn-danger" title="Decline the wager." @onclick="() => Decline(host.Id)">Decline</button>
                                <button class="btn btn-success" title="Accept the wager." @onclick="() => Accept(host.Id)">Accept</button>
                            }
                        </div>
                        <div class="modal fade" id="entryModal" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Buy Entry</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <i class="mdi mdi-close"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Entry Price: @host.EntryAmount(Wager.Amount).ToString("N0") XLM</h5>
                                        <div class="form-group">
                                            <label>Public Key</label>
                                            <input type="text" class="form-control" disabled value="@context.User.GetKey()" />
                                        </div>
                                        <div class="form-group">
                                            <label>Secret Seed</label>
                                            <input type="password" class="form-control" @bind-value="SecretSeed" autocomplete="off" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" @onclick="async () => await BuyEntry(host)">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </WagerMembersDisplay>
                </Authorized>
            </AuthorizeView>
        </div>
        @if (Wager.Status != (byte)Status.Pending)
        {
            <div class="col-12 col-lg-8 mx-auto my-1">
                <h3>Challenges:</h3>
                @if (Wager.ChallengeCount == 0)
                {
                    <p class="text-center lead">There are currently no challenges.</p>
                }
                else
                {
                    <div class="row">
                        @foreach (WagerChallenge challenge in Wager.Challenges)
                        {
                            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                                <WagerChallengeDisplay Challenge="challenge">
                                    <!--ACCEPT/DECLINE BUTTONS-->
                                </WagerChallengeDisplay>
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    public HubConnection HubConnection { get; set; }
    private string SecretSeed { get; set; }
    private Wager Wager { get; set; }
    private bool IsDeleted { get; set; }
    private IEnumerable<string> Errors { get; set; } = new List<string>();

    protected override async Task OnParametersSetAsync()
    {
        sessionStorage.Changed += SessionStorageChanged;
        var response = await http.Client.GetAsync($"/api/host/wager/{Id}");
        if (response.IsSuccessStatusCode)
        {
            Wager = await response.Content.ReadFromJsonAsync<Wager>();
            await HubConnection.InvokeAsync("AddToGroup", Wager.Group(Wager.Id));
        }
        else
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
        await base.OnParametersSetAsync();
    }

    async void IDisposable.Dispose()
    {
        if (Wager != null)
            await HubConnection.InvokeAsync("RemoveFromGroup", Wager.Group(Wager.Id));
    }

    private async Task ChangeStatus(Status status)
    {
        var response = await http.Client.PutAsJsonAsync($"/api/wager/status/{Wager.Id}", (byte)status);
        if (response.IsSuccessStatusCode)
        {
            Wager.Status = status;
            await HubConnection.SendAsync("SendWagerStatus", Wager.Group(Wager.Id), new IdStatus { Status = Wager.Status, Id = Wager.Id });
            StateHasChanged();
        }
        else
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
    }

    private void SessionStorageChanged(object sender, Blazored.SessionStorage.ChangedEventArgs e)
    {
        if (e.Key == "WagerStatus")
        {
            var data = (IdStatus)e.NewValue;
            if (Wager.Id == data.Id)
            {
                Wager.Status = data.Status;
                StateHasChanged();
            }
        }
        else if (e.Key == "WagerMember")
        {
            var data = (WagerMember)e.NewValue;
            if (Wager.Id == data.WagerId)
            {
                var index = Wager.Members.FindIndex(x => x.Id == data.Id);
                if (index > -1)
                {
                    Wager.Members[index] = data;
                    StateHasChanged();
                }
            }
        }
    }

    private async Task Delete()
    {
        IsDeleted = true;
        var response = await http.Client.DeleteAsync($"/api/wager/{Id}");
        if (!response.IsSuccessStatusCode)
            IsDeleted = false;
    }

    private async Task Decline(int id)
    {
        //return date response too
        var response = await http.Client.PutAsJsonAsync<bool>($"/api/bid/wager/{id}", false);
        if (response.IsSuccessStatusCode)
        {
            Wager.Status = await response.Content.ReadFromJsonAsync<Status>();
            var host = Wager.Members.FirstOrDefault(x => x.Id == id);
            if (host != null)
                host.IsApproved = false;
            await HubConnection.InvokeAsync("SendWagerStatus", Wager.Group(Wager.Id), host, new IdStatus { Status = Wager.Status, Id = host.WagerId });
        }
    }

    private async Task Accept(int id)
    {
        var response = await http.Client.PutAsJsonAsync<bool>($"/api/bid/wager/{id}", true);
        if (response.IsSuccessStatusCode)
        {
            Wager.Status = await response.Content.ReadFromJsonAsync<Status>();
            var host = Wager.Members.FirstOrDefault(x => x.Id == id);
            if (host != null)
                host.IsApproved = true;
            await HubConnection.InvokeAsync("SendWagerStatus", Wager.Group(Wager.Id), host, new IdStatus { Status = Wager.Status, Id = host.WagerId });
        }
    }

    private async Task BuyEntry(WagerMember member)
    {
        var response = await http.Client.PostAsJsonAsync($"/api/wager/entry/{Wager.Id}", SecretSeed);
        if(response.IsSuccessStatusCode)
        {
            member.Entries++;
        }
        SecretSeed = null;
    }
}
