@page "/host/wagers"
@inject AuthHttp http
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
<h1 class="text-center">Host Wagers</h1>
@if (Data != null)
{
    <div class="row">
        @foreach (Wager wager in Data)
        {
        <div class="col-12 col-md-6 col-lg-4">
            <WagerDisplay Wager="wager" />
        </div>
        }
    </div>
}
@code {
    public List<Wager> Data { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var response = await http.Client.GetAsync("/api/host/wagers");
        if (response.StatusCode == System.Net.HttpStatusCode.OK)
            Data = (await response.Content.ReadFromJsonAsync<IEnumerable<Wager>>()).ToList();
        await base.OnInitializedAsync();
    }
}
