<nav class="navbar fixed-bottom navbar-dark bg-primary">
    <div>
        <AuthorizeView>
            <Authorized>
                <NotificationDisplay />
            </Authorized>
        </AuthorizeView>
    </div>
    <div>
        <LoginDisplay />
    </div>
</nav>
