@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navManager
@inject SignOutSessionStateManager SignOutManager

<BarItem>
    <AuthorizeView>
        <Authorized>
            <a class="btn btn-primary" href="authentication/manage">
                @context.User.GetName()
            </a>
            <Button @onclick="BeginSignOut">Log out</Button>
        </Authorized>
        <NotAuthorized>
            <a class="btn btn-primary" href="authentication/register">Register</a>
            <a class="btn btn-secondary" href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</BarItem>
@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        navManager.NavigateTo("authentication/logout");
    }
}
