@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager navManager
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <NotificationDisplay />
        <a class="btn btn-secondary" href="/profile">
            <i class="mdi mdi-account"></i>
            @context.User.GetName()
        </a>
        <button class="btn btn-dark" @onclick="BeginSignOut">
            <i class="mdi mdi-logout"></i>
            Log out
        </button>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-secondary" href="authentication/register">
            <i class="mdi mdi-account-plus"></i>
            Register
        </a>
        <a class="btn btn-dark" href="authentication/login">
            <i class="mdi mdi-login"></i>
            Log in
        </a>
    </NotAuthorized>
</AuthorizeView>
@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        navManager.NavigateTo("authentication/logout");
    }
}
