@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="buttons">
    <AuthorizeView>
        <Authorized>
            <a class="button is-primary" href="authentication/profile">@context.User.GetName()</a>
            <button class="button" @onclick="BeginSignOut">Log out</button>
        </Authorized>
        <NotAuthorized>
            <a class="button is-primary" href="authentication/register">Register</a>
            <a class="button is-secondary" href="authentication/login">Log in</a>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
