@inherits LayoutComponentBase

<NavMenu />
@Body
<div class="hero-foot">
    <div class="tabs is-centered">
        <ul>
            <li>
                <a href="https://discord.gg/HmmVMs2" target="_blank">
                    <span class="icon">
                        <i class="mdi mdi-discord"> </i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/Wagering.GG" target="_blank">
                    <span class="icon">
                        <i class="mdi mdi-instagram"> </i>
                    </span>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/WageringGG" target="_blank">
                    <span class="icon">
                        <i class="mdi mdi-twitter"> </i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
