<nav class="navbar navbar-dark navbar-expand-md bg-primary fixed-top">
    <div class="navbar-brand font-weight-bold">
        Wagering.GG
    </div>
    <button class="navbar-toggler" type="button" aria-label="Toggle navigation" @onclick="ToggleMenu">
        <i class="mdi mdi-menu"></i>
    </button>
    <div class="navbar-collapse @menuCss">
        <ul class="navbar-nav">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    Home
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="about">
                    About
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    Counter
                </NavLink>
            </li>
        </ul>
        <LoginDisplay />
    </div>
</nav>

@code{
    private bool showMenu = false;
    private string menuCss { get { return showMenu ? "" : "collapse"; } }
    private void ToggleMenu() { showMenu = !showMenu; }
}