<div class="card border-primary">
    <div class="card-body">
        <h2 class="card-title">Placeholder Title</h2>
        <div class="card-text">
            <div class="d-flex">
                @ChildContent
                <TimeAgo Class="text-muted ml-auto mt-auto" Date="Challenge.Date" />
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public WagerChallenge Challenge { get; set; }
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
