@page "/"

<h1 class="text-center">Wagering.GG</h1>
<h4 class="text-center">Invest in yourself one game at a time.</h4>
<div class="row">
    @foreach (Game game in Constants.Games.Values)
    {
        <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card bg-gradient-primary text-white">
                <div class="card-body">
                    <h3 class="card-title">@game.Name</h3>
                    <p class="card-text">
                        <a class="btn btn-secondary my-1" href="@($"/wagers/{game.NormalizedName}")">
                            Wagers
                        </a>
                        <a class="btn btn-secondary my-1" href="@($"/tournaments/{game.NormalizedName}")">
                            Tournaments
                        </a>
                        <a class="btn btn-secondary my-1" href="@($"/leagues/{game.NormalizedName}")">
                            Leagues
                        </a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>