@layout MainLayout
@inherits LayoutComponentBase
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h1 class="text-center">Manage Profile</h1>
<div class="row">
    <div class="col-12 col-sm-4 my-2">
        <div class="list-group" role="tablist">
            <NavLink class="list-group-item list-group-item-action" href="/profile/public-key" role="tab">Public Key</NavLink>
            <a class="list-group-item list-group-item-action" href="/Identity/Account/Manage" role="tab" aria-controls="profile">Account</a>
            <AuthorizeView>
                <Authorized>
                    <a class="list-group-item list-group-item-action" href="/user/@context.User.GetName()" role="tab">View Profile</a>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
    <div class="col-12 col-sm-8">
        <div class="tab-content">
            <div class="tab-pane active" role="tabpanel">
                @Body
            </div>
        </div>
    </div>
</div>