@page "/client/wagers/view/{id:int}"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject AuthHttp http
@inject ISessionStorageService sessionStorage

<ErrorDisplay @bind-Errors="Errors" />
@if (Challenge != null)
{
    <h1 class="text-center">@Enum.GetName(typeof(Status), Challenge.Status) Wager Challenge</h1>
    <div class="row">
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Wager:</h3>
            <WagerDisplay Wager="Challenge.Wager" />
        </div>
        <div class="col-12 col-lg-8 mx-auto my-1">
            <h3>Challengers:</h3>
            <AuthorizeView>
                <Authorized>
                    <WagerBidsDisplay Bids="Challenge.Challengers">
                        @{
                            WagerChallengeBid bid = Challenge.Challengers.FirstOrDefault(x => x.ProfileId == context.User.GetId());
                        }
                        @if (bid != null && !bid.Approved.HasValue)
                        {
                            <div class="form-group">
                                <label>Secret Seed:</label>
                                <input type="text" class="form-control" @bind-value="SecretSeed" />
                            </div>
                            <div class="text-right">
                                <button class="btn btn-danger" title="Decline the wager challenge." @onclick="() => DeclineBid(bid.Id)">Decline</button>
                                <button class="btn btn-success" title="Accept the wager challenge." @onclick="() => AcceptBid(bid.Id)">Accept</button>
                            </div>
                        }
                    </WagerBidsDisplay>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
}

@code {
    [Parameter]
    public int Id { get; set; }
    [CascadingParameter]
    public HubConnection HubConnection { get; set; }
    private WagerChallenge Challenge { get; set; }
    private string SecretSeed { get; set; }
    public IEnumerable<string> Errors { get; set; } = new List<string>();

    protected override async Task OnParametersSetAsync()
    {
        sessionStorage.Changed += SessionStorageChanged;
        var response = await http.Client.GetAsync($"/api/client/wager/{Id}");
        if (response.IsSuccessStatusCode)
            Challenge = await response.Content.ReadFromJsonAsync<WagerChallenge>();
        else
            Errors = await response.Content.ReadFromJsonAsync<IEnumerable<string>>();
        await base.OnParametersSetAsync();
    }

    private void SessionStorageChanged(object sender, Blazored.SessionStorage.ChangedEventArgs e)
    {
        if (e.Key == "WagerChallengeStatus")
        {
            var data = (IdStatus)e.NewValue;
            if (Challenge.Id == data.Id)
            {
                Challenge.Status = data.Status;
                StateHasChanged();
            }
        }
        else if (e.Key == "WagerChallengeBid")
        {
            var data = (WagerChallengeBid)e.NewValue;
            if (Challenge.Id == data.ChallengeId)
            {
                var index = Challenge.Challengers.FindIndex(x => x.Id == data.Id);
                if (index > -1)
                {
                    Challenge.Challengers[index] = data;
                    StateHasChanged();
                }
            }
        }
    }

    private async Task DeclineBid(int id)
    {
        //return date response too
        var response = await http.Client.PutAsync($"/api/bid/wager/challenge/decline/{id}", null);
        if (response.IsSuccessStatusCode)
        {
            var data = await response.Content.ReadFromJsonAsync<byte>();
            var bid = Challenge.Challengers.FirstOrDefault(x => x.Id == id);
            if (bid != null)
                bid.Approved = false;
            Challenge.Status = data;
            await HubConnection.InvokeAsync("SendWagerChallengeBid", Challenge.GroupName, bid, new IdStatus { Status = data, Id = Challenge.Id });
        }
    }

    private async Task AcceptBid(int id)
    {
        var response = await http.Client.PutAsJsonAsync<string>($"/api/bid/wager/challenge/accept/{id}", SecretSeed);
        if (response.IsSuccessStatusCode)
        {
            var data = await response.Content.ReadFromJsonAsync<byte>();
            var bid = Challenge.Challengers.FirstOrDefault(x => x.Id == id);
            if (bid != null)
                bid.Approved = true;
            Challenge.Status = data;
            await HubConnection.InvokeAsync("SendWagerChallengeBid", Challenge.GroupName, bid, new IdStatus { Status = data, Id = Challenge.Id });
        }
    }
}
